<div class="01">
  <h2 class="fs-2">Welcome to <%= title %>!</h2>
  <p class="fs-4">
    Discover a world of learning resources and connect with fellow students.
  </p>
  <p class="fs-4">Features:</p>
  <ul>
    <li class="fs-5">Access to a wide range of educational materials</li>
    <li class="fs-5">Connect with classmates and form study groups</li>
    <li class="fs-5">Stay updated with important announcements</li>
  </ul>
  <p class="fs-5">Join us and make your academic journey more exciting!</p>
</div>
<div class="02">
  <img src="./assets/images/students.png" alt="Students flying" />
</div>
