<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>

    <form action="/login" method="post">
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br />

      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" required /><br />

      <button type="submit">Login</button><br />
      <!-- If not a user, show signup button -->
      <p style="text-align: center; margin-bottom: 0%; padding-bottom: 0%">
        New Here?
      </p>
      <button
        type="button"
        onclick="window.location.href='/signup-page'"
        class="signup-button"
      >
        Signup
      </button>
    </form>
    <footer>
        <p>&copy; <%= year %> <%= title %>. All rights reserved.</p>
    </footer>
  </body>
</html>
