footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Poppins", Arial, sans-serif;
}
header {
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 14px;
  top: 0;
  width: 100%;
  font-family: "Poppins", Arial, sans-serif;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
header button {
  float: right;
  margin-right: 10px;
  width: 100px;
  height: 40px;
}
header button.btn.btn-primary:hover {
  background-color: #8993bd !important;
  color: black;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 500px;
    height: 40px;
}   
button {
    background-color: #2f2e41;
    float: right;
    margin-right: 10px;
    width: 100px;
    height: 40px;
  }
  button.btn.btn-primary:hover {
    background-color: #8993bd !important;
    color: black;
  }

  a{
    text-decoration: none !important;
    color: black !important;
  }

  #a-login:hover{
    font-weight: bold;
    transition: smooth 1s;
  }